<header class="masthead">
  {% if site.avatar -%}
    <div class="avatar">
      {%- if site.avatar contains "://" -%}
        {%- assign avatar = site.avatar -%}
      {%- else -%}
        {%- assign avatar = site.avatar | relative_url -%}
      {%- endif -%}
      <img src="{{ avatar }}" class="avatar-image" alt="{{ site.author.name }}">
    </div>
  {%- endif %}

  <div class="masthead-title">
    <a href="{{ "/" | relative_url }}" title="Home">{{ site.title }}</a>
  </div>

  <div class="masthead-tagline">
    <small>{{ site.description }}</small>
  </div>

  {%- if site.data.navigation -%}
  <nav class="navigation">
    <ul class="navigation-list">
      {%- for nav in site.data.navigation -%}
        <li class="navigation-item">
          <a onclick="sessionStorage.setItem('forceCheckScroll', 'true')" href="{{ nav.url | relative_url }}">{{ nav.title | escape }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
  {%- endif -%}

  {% if site.data.social -%}
    <div class="social pure-menu pure-menu-horizontal">
      <ul class="social-icons pure-menu-list">
        <!-- GitHub 아이콘 추가 -->
        <li class="pure-menu-item">
          <a class="social-icon pure-menu-link" href="https://github.com/tskim9926" title="GitHub">
            <i class="fab fa-github"></i> <!-- GitHub 아이콘 -->
          </a>
        </li>
        
        <!-- 이메일 아이콘 추가 -->
        <li class="pure-menu-item">
          <a class="social-icon pure-menu-link" href="mailto:tskim9926@gmail.com" title="Email">
            <i class="fas fa-envelope"></i> <!-- 이메일 아이콘 -->
          </a>
        </li>
      </ul>
    </div>
  {%- endif %}

</header>
